<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TikTakToeBinding1" />
                <binding name="TikTakToeBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://titanic.ecci.ucr.ac.cr/~eb54275/ejercicios/gato/"
                binding="basicHttpBinding" bindingConfiguration="TikTakToeBinding1"
                contract="ServicioGatoJose.TikTakToePort" name="TikTakToePort1" />
            <endpoint address="http://titanic.ecci.ucr.ac.cr/~eb66236/tareaProgramada2/TAR-PRO2-WEB/"
                binding="basicHttpBinding" bindingConfiguration="TikTakToeBinding"
                contract="ServicioGatoFabian.TikTakToePort" name="TikTakToePort" />
        </client>
    </system.serviceModel>
</configuration>